In [1]:
import numpy as np
import pandas as pd 
import scipy.stats 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:\\Users\\HP\\Desktop\\DataAnalitics\\Feature Engineering\\Practice\\Лекция_2\\adult.csv', sep=',')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
# выбираем признаки 
selectedColumns = df[['age', 'educational-num','occupation', 'hours-per-week']]

# столбец occupation - категориальная переменная
# переведем ее в значения 0 и 1, добавив столбцы с соответствующими названиями
X = pd.get_dummies (selectedColumns, columns = ['occupation'])

X.head()

,age,educational-num,hours-per-week,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,25,7,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,38,9,50,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,28,12,40,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,44,10,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,18,10,30,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
# записываем в таргетную переменную y столбец sex
y = pd.Series(df['income'])
y.head()

0    <=50K
1    <=50K
2     >50K
3     >50K
4    <=50K
Name: income, dtype: object

In [7]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 

model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

In [8]:
# Поделим данные на обучающую выборку и тестовую.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
# обучаем модель (train)

model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [11]:
model.predict(X_test)

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [12]:
# Получаем наш скор (точность предсказания) на обучающей и тестовой выборках.
model.score(X_train, y_train)

0.7947292988973061

In [13]:
model.score(X_test,y_test)

0.8028390090766396

In [16]:
# Метод опорных векторов. SVM.
from sklearn.svm import SVC

clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [15]:
clf.score(X_train, y_train)

0.8012518646348241

In [17]:
clf.score(X_test, y_test)

0.8074796969903774

##  C Методом опорных векторов результат немного выше.